h1{
    font-family: monospace;
}
h2{
    font-family: cursive;
}
.design{
    background-color: black;
    color: white;
}
button{
    color: white;
    background-color: black;
    border-color: white;
    border-width: 0.5rem;
}
#central{
    background-color: aqua;
}