/* This is the CSS code for Intro.html */
.h{
    color: brown;
}

/* This is the CSS code for AnswerMathsArea.html */
#central {
    background-color: aqua;
}

/* This is the CSS code for MathsArea.html */
.design {
    background-color: black;
    color: white;
}
button {
    border: 10px solid white;
    background-color: black;
    color: white;
}

/* This is the CSS code for Rubiks Cube.html */
.no{
    background-color: greenyellow;
}

/* This is the CSS code for Trigonometry.html and PractiseTrigonometry.html*/
#font {
    font-family: cursive;
    background-color: powderblue;
}
tr , td{
    border: 0.2em solid black;
    border-radius: 1em;
}
.test{
    border: 10px solid black;
    background-color: wheat;
    color: black;
}
img{
    border-radius: 1em;
}
h1{
    color: #fb5e56;
}