body {
    background-color: #50a7d9;
    font-family: cursive;
}

button {
    border: 4px solid black;
    width: 200px;
    height: 35px;
}

img {
    opacity: 0.4;
}

img:hover {
    opacity: 0.8;
}

@media (max-width:750px)
{
    img {
        width: 450px;
    }
    h1 , h2 {
        font-size: 22px;
    }
    button {
        border: 2px solid black;
        border-radius: 0;
        width: 200px;
        height: 20px;
    }
}