header {
    background-color: cornflowerblue;
    text-align: center;
    position: fixed;
    width: 100%;
}

.nav-toggle {
    display:none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: cornflowerblue;
    width: 100%;
    display: none;
    font-family: cursive;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
}
nav a:hover {
    color: #000;
}

.nav-toggle:checked ~ nav {
    display: block;
}

@media screen and (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(700px, 3fr) 1fr;
    }

    .logo {
        color: white;
        text-decoration: none;
        grid-column: 2 / span 1;
            }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: cursive;
    }

    nav ul {
        display: flex;
        justify-items: flex-end;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background-color: black;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0 , 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

.container {
    box-sizing: border-box;
}

.about-page {
    background-color: #bbc1cc;
}